.hero-section {
  position: relative;
  width: 100vw;
  height: 100vh; /* full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  /* background-image is set inline in React */
  background-repeat: no-repeat;
  background-position: center 90% !important;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(131, 131, 131, 0.4);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  padding: 20px;
}

.hero-content h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.hero-content p {
  font-size: 1.4rem;
  line-height: 1.5;
}
