.footer {
  background-color: #161616;
  color: #5ec3bc;
  text-align: center;
  padding: 15px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.back-to-top {
  display: block;
  margin-top: 10px;
  color: #c39427;
  text-decoration: none;
  font-size: 0.9rem;
}

.back-to-top:hover {
  color: #715999;
  text-decoration: underline;
}
